---
layout: default
title: Vchitai Blog
---

<h1>My recent posts:</h1>
<div class="card-columns">
  {% for post in paginator.posts %}
  <div class="card my-3">
    <img
      class="card-img-top"
      src="{% if post.image %}{{ post.image }}{% else %}{{
        '/assets/img/touring.jpg' | prepend: site.baseurl
      }}{% endif %}"
    />
    <div class="card-body">
      <h5 class="card-title">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{
          post.title
        }}</a>
      </h5>
      <p class="card-text">
        {% if post.description %}{{ post.description }}{% else %}{{
          post.excerpt | strip_html
        }}{% endif %}
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted"> {{ post.date | date: "%B %d, %Y" }} </small>
    </div>
  </div>

  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a
    href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
    class="previous button__outline"
    >Newer Posts</a
  >
  {% endif %} {% if paginator.next_page %}
  <a
    href="{{ paginator.next_page_path | prepend: site.baseurl }}"
    class="next button__outline"
    >Older Posts</a
  >
  {% endif %}
</div>
